*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', serif;
}

.image{
  height: 100px;
  width: 200px;
  border-radius: 30px;
  margin: 2em 1em 1em 1em;
}

blockquote{
  font-size: 0.9em;
  line-height: 1.6em;
}

ul{
  list-style-type: none;
}

.container{
    text-align: center;
    z-index: -1;
}

.logo{
  width: 130px;
  height: 80px;
}

.header{
  background: #0e6869;
  z-index: 100;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1.2em;
}

.menu{
  width: 25px;
  margin-top: 45%;
}

.hide-nav{
  display: none;
}

nav ul{
  position: fixed;
  width: 40%;
  top: 0;
  right: 0;
  text-align: left;
  background: #d59600;
  height: 100%;
  z-index: 8;
  padding-top: 3em;
}

nav ul li a{
  color: #13484e;
  text-decoration: none;
  padding: 0.7em;
  display: block;
  width: 100%;
}

nav ul li a:hover{
  color: #FFFFFF;
}

.cross-btn{
  text-align: right;
  padding-right: 2em;
}

.cross-btn img{
  width: 15px;
  cursor: pointer;
}

.search-bar{
  z-index: 4;
  display: inline;
  position: relative;
  margin: 1.2em;
}

.search-txt{
  margin-top: 0.8em;
  height: 40px;
  width: 190px;
  border: 1px solid;
  border-radius: 50px;
  margin-left: -1.3em;
}

.right{
  position: absolute;
  margin-top: -1.8em;
  height: 20px;
  margin-left: 10.5em;
}

h2, h3{
  color: #d59600;
}

.body-container, .about-container, .related-container, footer{
  padding: 2em 1em 1em;
}

.body-container{
  position: relative;
  text-align: center;
  padding: 2em;
  height: 300px;
  width: auto;
}

.body-container h2{
  color: #000000;
}

.Temperature{
  position: absolute;
  margin: 4em -11em;
  height: 35px;
  width: 250px;
  padding: 0.6px 16px;
}

.Humidity{
  position: absolute;
  margin: 8em -11em;
  height: 35px;
  width: 250px;
  padding: 0.6px 16px;
}

.submit-btn{
  background: #056D4B;
  color: #FFFFFF;
  position: absolute;
  margin: 13.5em -9.5em;
  height: 40px;
  width: 250px;
  border-radius: 50px;
  padding: 0.6px 16px;
}

.green-container{
  background: #13484e;
}

.green-container blockquote{
  color: #FFFFFF;
}

.about-container{
  background: #f6f6f6;
}

.footer-container a{
  margin-top: 0.8em;
  display: inline-block;
}

@media only screen and (min-width: 650px){
  .image{
    width: 20%;
    height: 20%;
  }
  .related-container ul{
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
  }

  .related-container ul li img{
    width: 40%;
    height: 40%;
  }

  .related-container ul li:nth-child(2) img{
    width: 48%;
    height: 48%;
  }

  .related-container ul li blockquote{
    padding: 1em;
  }
}

@media only screen and (min-width: 800px){
  .container{
    width: auto;
    margin: 0 auto;
  }

  .show-nav{
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-btn{
    display:none;
  }

  .search-bar{
    z-index: 5;
    display: inline;
    position: relative;
    margin-top: 3em;
    margin-left: 14em;
  }

  .search-txt{
    margin-top: 3em;
    height: 40px;
    width: 250px;
    border: 1px solid;
    border-radius: 50px;
    margin-left: -1.3em;
  }

  .right{
    position: absolute;
    margin-top: -1.8em;
    height: 20px;
    margin-left: 26.5em;
  }

  nav ul{
    position: inherit;
    width: 80%;
    background: none;
    display: flex;
    padding: 0;
  }

  nav ul li{
    float: left;
  }

  nav ul li a{
    color: #d59600;
  }
}
